body
{
	background-color: #737373;
}

#strona
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

#logo
{
	letter-spacing: 6px;
	color: white;
	font-size: 60px;
	text-align: center;
	padding: 20px;
}

#menu
{
	margin-top: 10px;
	background-color: #303030;
	height: 57px;
	
}

.opcja
{
	float: left;
	min-width: 106px;
	font-size: 23px;
	padding: 15px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
	color: #cccccc;
	text-align: center;
	
}

.opcja:hover
{
	background-color: black;
	cursor: pointer;
	color: #ff1a1a;
	
}

#content
{
	margin-top: 20px;
	background-color: green;
	text-align: center;
	font-size:22px;
	padding: 50px;
}

#tytul
{
	font-size: 45px;
	text-align: center;
	height: 80px;
	letter-spacing: 5px
}

#zawartosc_content
{
	float:left;
	width:400px;
}

#zdj_content
{
	float:left;
	width:450px;
	margin-left: 40px;
	text-align: center;
}

#stopka
{
	text-align: justify;
	background-color: black;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
}

#tekst
{
	width: 780px;
	float: left;
	font-size: 16px;
	padding: 15px;
	border-right: 2px dotted #444444;
}

#zegar
{
	float: left;
	width: 158px;
	font-size: 18px;
	padding: 15px;
}

