body
{
	background-color: #737373;
}

#strona
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

#logo
{
	letter-spacing: 6px;
	color: white;
	font-size: 60px;
	text-align: center;
	padding: 20px;
}

#menu
{
	margin-top: 10px;
	background-color: #303030;
	font-size: 23px;
	text-align: center;

}

.opcja
{
	float: left;
	width: 20%;
	opacity: 0.8;
	color: #cccccc;
	line-height: 57px;;

}

.opcja:hover
{
	background-color: black;
	cursor: pointer;
	color: #ff1a1a;
	height: 57px;
	
}

.kropki
{
		float: left;
		border-left: 2px dotted #444444;
		height: 57px;
}

#content
{
	margin-top: 20px;
	background-color: green;
	text-align: center;
	font-size:22px;
	padding: 50px;
}

#tytul
{
	font-size: 45px;
	text-align: center;
	height: 80px;
	letter-spacing: 5px;
	border-bottom: 2px solid #444444;
}

#zawartosccontent
{
	float:left;
	width:400px;
	padding:20px;
}

#zdj
{
	float:left;
	width:400px;
	margin-left: 20px;
	padding:20px;
}

#dowakacji
{
	font-size: 44px;
	color: #800000;
	
}

#stopka
{
	text-align: justify;
	background-color: black;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	height: 50px;
}

#tekst
{
	float: left;
	font-size: 16px;
	padding: 15px;

}

#zegar
{
	float: right;
	font-size: 18px;
	padding: 15px;
	text-align:left;
	border-left: 2px dotted #444444;
	height: 20px;
}


